//////////COLOR//////////
$primary-color: rgb(15, 27, 61);
$progressbar-gradient1: rgb(255, 163, 153);
$progressbar-gradient2: linear-gradient(90deg, rgba(255, 163, 153, 1) 0%, rgba(255, 77, 151, 1) 100%);
$accent-color: hsl(228, 45%, 44%);

$pale-blue: hsl(243, 100%, 93%);
$grayish-blue: hsl(229, 7%, 55%);
$dark-blue: hsl(228, 56%, 26%);
$very-dark-blue: hsl(229, 57%, 11%);

//////////FONT//////////
$main-font: 'Raleway',
sans-serif;
$main-font-size: 14px;

//////////WIDTHS//////////
$mobile: 375px;
$desktop: 1440px;

//////////MAIN STYLING//////////
html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: $main-font;
    font-size: $main-font-size;
    font-weight: 400;
    box-sizing: border-box;
    background-color: $very-dark-blue;
    background-image: url(/images/bg-desktop.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}

button {
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 20%;
    background-color: $very-dark-blue;
}

li {
    display: inline;
}

ul {

    list-style-type: none;
}
p{
    color: $grayish-blue;
    font-weight: 700;
}
.action-container {
    margin-top: 150px;
    border-radius: 15px 100px 15px 15px;
    min-width: 300px;
    max-width: 400px;
    height: 250px;
    background-color: $dark-blue;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-bottom: 10%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.main-content {
    margin: 15% 10%;
}

.usage-container {
    border-radius: 15px 15px 15px 15px;
    max-width: 500px;
    min-width: 250px;
    height: 200px;
    background-color: $dark-blue;
}
.usage-container p {
    color: $pale-blue;
}
.usage-content {
   margin-top: 30px;
}
#gb-1 {
    float: left;
}
#gb-2 {
    float: right;
}
#usage-progress-area {
    color: $pale-blue;
    font-weight: 400;
}
#usage-progress-area span {
    opacity: 70%;
}
#usage-space-tag{
    font-size: 40px;
    font-weight: 700;
    color: #000;
}
#usage-storage {
    min-width: 200px;
    height: 15px;
    border-radius: 10px;
    background-color: $accent-color;
}
#usage-storage-label {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: $pale-blue;
    text-align: center;
}




@media screen and (max-width: 375px) {
    body {
        background-image: url("/images/bg-mobile.png");
        background-size: cover;
        background-color: $very-dark-blue;
    }
    
    button {
        margin-top: 5%;
        margin-right: 15px;
        height: 50px;
        width: 50px;
        border: none;
        border-radius: 20%;
        background-color: $very-dark-blue;
        // padding: 0 auto;
    }
    .action-container {
            
        border-radius: 5px 100px 5px 5px;
        height: 210px;
        background-color: $dark-blue;
    }
    .action-container ul {
        margin-left: 2%;
    }
    .action-icon {
        width: 20px;
        height: 20px;
    }
    
    #logo {
        margin-top: 15%;
        margin-left: 15%;
    }
    .main-content {
        margin: 15% 5%;
    }
    #usage-storage-label {
        margin: auto;
        width: 170px;
        height: 65px;
        background-color: $pale-blue;
        text-align: center;
        
    }
    .usage-container {
        height: 175px;
    }
    .usage-content {
        width: 100%;
        text-align: center;
    }
    #usage-remaining {
        margin-top: 10%;
    }
    
    

    
}

@media screen and (min-width: 1440px) {
    body {
        background-image: url("/images/bg-desktop.png");
    }
}