//////////COLOR//////////
$primary-color: rgb(15, 27, 61);
$progressbar-gradient1: rgb(255, 163, 153);
$progressbar-gradient2: linear-gradient(90deg, rgba(255, 163, 153, 1) 0%, rgba(255, 77, 151, 1) 100%);
$accent-color: hsl(228, 45%, 44%);

$pale-blue: hsl(243, 100%, 93%);
$grayish-blue: hsl(229, 7%, 55%);
$dark-blue: hsl(228, 56%, 26%);
$very-dark-blue: hsl(229, 57%, 11%);

//////////FONT//////////
$main-font: 'Raleway',
sans-serif;
$main-font-size: 14px;

//////////WIDTHS//////////
$mobile: 375px;
$desktop: 1440px;

//////////MAIN STYLING//////////
html,
body {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: $very-dark-blue;
    // background-image: url(/images/bg-desktop.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}

button {
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 20%;
    background-color: $very-dark-blue;
}

li {
    display: inline;
}

ul {

    list-style-type: none;
}

.action-container {
    margin: 0 auto;
    border-radius: 15px 100px 15px 15px;
    min-width: 250px;
    max-width: 500px;
    height: 250px;
    background-color: $dark-blue;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.main-content {
    margin: 20% 10%;

}

.usage-container {
    margin: 0 auto;
    border-radius: 15px 15px 15px 15px;
    max-width: 500px;
    min-width: 250px;
    height: 200px;
    background-color: $dark-blue;
}

@media screen and (max-width: 375px) {
    body {
        background-image: url("/images/bg-mobile.png");
    }

    button {
        margin-top: 10%;
        height: 50px;
        width: 50px;
        border: none;
        border-radius: 20%;
        background-color: $very-dark-blue;
        padding: 0 auto;
    }
    #logo {
        margin-top: 15%;
    }
    .action-container {
        border-radius: 5px 100px 5px 5px;
        height: 200px;
        background-color: $dark-blue;
    }

    #file-actions li {
        padding-right: 0;
    }
}

@media screen and (max-width: 1440px) {
    body {
        background-image: url("/images/bg-desktop.png");
    }
}